* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

::selection {
  background: #f4f4f4;
  color: purple;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to right,
    rgba(236, 69, 236, 0.4),
    rgba(253, 253, 22, 0.4)
  );
}

img {
  display: block;
  width: 80px;
}

h2 {
  font-size: 5.5em;
}

h3 {
  font-size: 1.4em;
  font-weight: lighter;
  margin-bottom: 1em;
}

h4 {
  font-size: 2.1em;
  text-align: center;
}

/* Utility Classes */
.btn {
  display: block;
  width: 90px;
  padding: 11px 0px;
  font-size: 1.1em;
  background: transparent;
  color: #444;
  border: 1px solid #444;
  border-radius: 20px;
  margin: 3px 0;
  color: #444;
}

.btn:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
}

.btn:focus {
  box-shadow: inset 0px 7px 5px rgba(68, 68, 68, 0.351),
    0px 5px 5px rgba(68, 68, 68, 0.351);
}

.hidden {
  display: none;
}

/* Classes */
.container {
  width: 70%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.384);
  position: relative;
}

.player0,
.player1 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

.player0 {
  border-radius: 25px 0 0 25px;
}

.active-player {
  background: rgba(255, 255, 255, 0.5);
}

.deactive-player {
  background: rgba(128, 0, 128, 0.359);
}

.player1 {
  border-radius: 0 25px 25px 0;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current {
  width: 180px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #fff, rgba(0, 0, 255, 0.2));
  box-shadow: 12px 12px 30px rgba(0, 0, 0, 0.384);
  border-radius: 15px;
}

.joystick {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  background: rgb(238, 237, 237);
  width: 200px;
  height: 400px;
  box-shadow: 10px 10px 30px rgba(128, 128, 128, 0.279),
    -10px -10px 30px rgba(128, 128, 128, 0.279);
  border-radius: 20px;
}

.help,
.lang {
  border: none;
  font-size: 1.1rem;
}

.lang {
  animation: show 0.9s infinite;
}

.help:hover,
.lang:hover {
  background: transparent;
  color: red;
}

.help:focus,
.lang:focus {
  box-shadow: none;
}

.option .btn {
  display: inline;
}

.langmsg {
  position: absolute;
  top: 0;
  margin-top: 1em;
  font-weight: bold;
  font-size: 1.3rem;
  color: black;
  text-shadow: 1px 1px 10px rgb(238, 237, 237),
    -1px -1px 10px rgb(238, 237, 237);
  z-index: 1;
}

.modal-window {
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: rgba(0, 0, 0, 0.822);
}

.modal-message {
  width: 60vw;
  height: 40vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(128, 128, 128), #fff 100%);
  border-radius: 10px;
}

.modal-content-en,
.modal-content-fa {
  padding: 1em 2em;
}

.modal-content-en {
  display: block;
}

.modal-content-fa {
  display: none;
}

.x-button {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  position: absolute;
  margin: 4px 10px 0 0;
}

.x-button:hover {
  cursor: pointer;
}

.line1,
.line2 {
  width: 60%;
  height: 4px;
  background: #000;
  position: absolute;
  border-radius: 50px;
}

.line1 {
  transform: rotate(135deg);
}
.line2 {
  transform: rotate(-135deg);
}

@keyframes show {
  from {
    font-weight: lighter;
  }
  to {
    color: rgb(250, 2, 250);
  }
}

/* Mobile Version */
@media screen and (max-width: 425px) {
  .container {
    width: 90%;
    flex-direction: column;
    box-shadow: none;
  }
  .player0,
  .player1 {
    width: 60%;
    border-radius: 0;
    transform: rotate(90deg);
    margin: 0;
  }
  .joystick {
    width: max-content;
    height: 55%;
    transform: rotate(90deg);
    display: flex;
    justify-content: center;
  }
  .dice {
    margin-bottom: 5px;
  }
  .about h2 {
    font-size: 4em;
  }
  .option {
    display: flex;
    flex-direction: column;
  }
  .current {
    display: flex;
    box-shadow: none;
    width: 6rem;
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10;
  }
  .current h3 {
    margin: 0;
  }
  .current h4 {
    font-size: 1.8em;
    padding: 10px 0;
  }
  .btn {
    padding: 0;
    margin: 5px 10px;
  }
  .btn:focus {
    box-shadow: none;
  }
  .modal-message {
    transform: rotate(90deg);
    width: 60vh;
  }
}

/* Tablet Version */
@media screen and (max-width: 768px) and (min-width: 426px) {
  .player0,
  .player1 {
    display: flex;
    justify-content: center;
  }

  .joystick {
    width: max-content;
    height: max-content;
    background: rgba(228, 222, 222, 0.9);
    box-shadow: none;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    bottom: 0;
  }

  .dice {
    width: 70px;
    margin: 5px 0;
    padding: 10px;
  }

  .about {
    margin-bottom: 0.3em;
  }

  .about h2 {
    font-size: 4.5em;
  }

  .about h3 {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
  }

  .current {
    width: 40%;
    height: 7em;
    margin-top: 2.5em;
  }

  .btn {
    width: max-content;
    height: max-content;
    padding: 5px 10px;
    margin-right: 3px;
  }

  .btn:focus {
    box-shadow: none;
  }
}
